/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(260deg, blue, red);
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.questions {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 3rem 5rem;
  border-radius: 10px;
}

.questionCard {
  width: 100%;
}

.questions h1 {
  margin: 1.2rem 0;
}

.question {
  margin-top: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.question h3:hover {
  color: rgba(0, 0, 0, 0.8);
}

.sign {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 5px 20px;
  border-radius: 15px;
}

.sign span {
  display: none;
  font-size: 1.2em;
  font-weight: bold;
}

.sign:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.sign span.active-sign {
  display: inline;
}

.answer-container {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.answer-container .answer {
  text-align: justify;
  font-size: 1.2em;
}
.answer-container.active {
  height: 100px;
}

.rule {
  width: 100%;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 1rem 0;
}

.developed-by {
  width: 100%;
  height: 20vh;
  background-color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(#000, #000), linear-gradient(to left, red, purple);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border: 5px solid transparent;
}
